@use 'sass:map';
@import '../../styles/abstract/mixins';

.unauthorized {
  @include flex(column, center, center);
  min-height: 100vh;
  background-color: $gray-50;

  &__container {
    @include flex(column, center, center);
    background: $white;
    padding: map-get($spacing, lg);
    border-radius: 0.5rem;
    max-width: 400px;
    width: 100%;
    margin: map-get($spacing, md);
    box-shadow: 0 1px 3px rgba($gray-900, 0.1);
  }

  &__title {
    font-size: map-get($font-sizes, '2xl');
    color: $error-color;
    margin-bottom: map-get($spacing, md);
    font-weight: 700;
  }

  &__message {
    font-size: map-get($font-sizes, base);
    color: $gray-700;
    margin-bottom: map-get($spacing, lg);
    text-align: center;
  }

  &__button {
    text-align: center;
    @include button-base;
    @include button-variant($primary-color);
    padding: map-get($spacing, sm) map-get($spacing, lg);
  }
}
